<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itqf.mapper.UserMapper">

    <!--    一个标签代表一个sql语句的操作-->
    <select id="searchAllUser" resultType="com.itqf.entity.User">
        select * from user;
    </select>
    <select id="searchUidByUname" resultType="java.lang.Integer">
        select uid from user where uname=#{uname}
    </select>
</mapper>
